PORT=3000
GCP_PROJECT_ID=summer-optics-501702-q5
GCP_LOCATION=us
GCP_PROCESSOR_ID=3185d81531cbd5d
GOOGLE_APPLICATION_CREDENTIALS=summer-optics-501702-q5-a1a63929c753.json
LIBRE_OFFICE_EXE=C:\Program Files\LibreOffice\program\soffice.exe
CLIENT_URL=http://localhost:5173,http://localhost:3000
REDIS_HOST=localhost
REDIS_PORT=6379
OCR_WORKER_CONCURRENCY=3
OCR_MAX_RETRIES=3
VISION_API_PAGE_CONCURRENCY=5